<% provide(:title, "About") %>

<h1>About</h1>
<p>This is a website I developed with Ruby on Rails to host sports picking contects I set up for myself and my friends</p>
<p>Send questions to brock.m.tillotson@gmail.com</p>
