<% provide(:title, 'Lines') %>
<h1>Create your Entry</h1>

<h3>Rules</h3>
<ol>
  <li>Pick exactly 10 teams</li>
  <li>Specify whether they will go over or under their season total</li>
  <li>Pick exactly 5 "Super Bets"</li>
  <li>Regular Bets count for one point, Super Bets count for two points</li>
  <li>Picks are editable and secret until NBA season begins</li>
</ol>
