@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 60px;
}

.glyphicon {
  color: white;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

span {
  color: #286090;
}

.pict {
	filter: invert(100%);
  height: 2em;
  float: left;
  margin-top: 8px;
  margin-left: 5px;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

footer .glyphicon {
  color: black;
}


/* user page */

.profile_pic {
  width: 100%;
}

.user_box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: left;
  float: right;

}



.user_info {
      text-decoration: none;
      font-size: 22px;
      color: black;
      padding-left: 22px;
  }

  .maxer {
    max-width: 100%;
  }

  /* forms */

  .iconz {
    height: 20px;
    width: auto;
  }

  .iconx {
    height: 30px;
    width: auto;
  }

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;

    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

  input {
    height: auto !important;
  }

  .maxim {
    width: 300px;
  }

  .medbutt {
    width: 300px;
  }

  #remember_me {
    color: black;
  }

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.videoHolder {
  top: 0;
  left: 0;
  position: fixed; 
  z-index: -99; 
  width: 100vw; 
  height: 100vh;
  background-color: black;
}

.jumbotron {
  background-color:rgba(0, 0, 0, 0.5);

  max-width: 550px;
  padding: 0;

  
}

.transparent {
  background-color:rgba(0, 0, 0, 0.5) !important;
}