<footer class="footer">
  <small>
    Website build and maintained by Brock Tillotson
  </small>
  <br>
  <small>
    <span class="glyphicon glyphicon-folder-open 2017"></span>_2019
  </small>
  <ul>
    <li><%= link_to "About", about_path %></li>
   <li><%= link_to "Help", help_path %></li>
 </ul>
</footer>
